.tehai
  display : flex 
  position : absolute 
  margin : 0
  padding : 0 
  width : 65vh
  img 
    margin : 0 2px
    width : 100% 
    height : auto 

.tehai1
  bottom : 5vh
  left : calc((100vw - 70vh) / 2)

.tehai2
  right : 0
  bottom : 45vh
  transform: rotate(270deg) 

.tehai3
  top : 5vh
  transform: rotate(180deg) 
  left : calc((100vw - 70vh) / 2)

.tehai4
  left : 0
  bottom : 45vh
  transform: rotate(90deg) 

.kawa
  display : flex 
  position : absolute 
  margin : 0
  padding : 0 
  width : 30vh
  flex-wrap: wrap;
  img 
    margin : 2px 2px
    width : calc(30vh / 7);
    height : auto 

.kawa1
  bottom : 20vh
  left : calc((100vw - 30vh) / 2)

.kawa2
  right : 35vh 
  bottom : 45vh
  transform: rotate(270deg) 

.kawa3
  top : 20vh
  transform: rotate(180deg) 
  left : calc((100vw - 30vh) / 2)

.kawa4
  left : 35vh
  bottom : 45vh
  transform: rotate(90deg) 

.buttons
  display : flex 
  position : absolute 
  flex-wrap: wrap;
  
  button
    width : 100px
    height: 40px
    margin : 0 5px
    border : 1px solid black
    border-radius : 5px 5px
    box-shadow : none

.buttons1
  bottom : 5vh
  left : calc(70vh + (100vw - 70vh) / 2)

.buttons2
  right : 0
  bottom : 85vh
  transform: rotate(270deg) 

.buttons3
  top : 5vh
  right : calc(70vh + (100vw - 70vh) / 2)
  transform: rotate(180deg) 

.buttons4
  left : 0
  bottom : 15vh
  transform: rotate(90deg) 
